-
    const category = 
    [
        {
            title : "All",
            link: "#"
        },
        {
            title : "Đồ ăn",
            link: "#"
        },{
            title : "Đồ uống",
            link: "#"
        },
        {
            title : "Đồ chay",
            link: "#"
        },
        {
            title : "Bánh kem",
            link: "#"
        },{
            title : "Tráng miệng",
            link: "#"
        },
        {
            title : "Homemade",
            link: "#"
        },
        {
            title : "Vỉa hè",
            link: "#"
        },{
            title : "Pizza/Burger",
            link: "#"
        },
        {
            title : "Món gà",
            link: "#"
        },
        {
            title : "Món lẩu",
            link: "#"
        },{
            title : "Shushi",
            link: "#"
        },
        {
            title : "Mì phở",
            link: "#"
        },
        {
            title : "Cơn hộp",
            link: "#"
        }
    ]