-
    const discounts = 
    [
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-62a8a573-220227215209.png",
            title: "Deal 83K rực rỡ",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-9d80390e-220120170703.jpeg",
            title : "Ngày của nàng, Freeship toàn sàn",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-62a8a573-220227215209.png",
            title: "Deal 83K rực rỡ",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-9d80390e-220120170703.jpeg",
            title : "Ngày của nàng, Freeship toàn sàn",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-62a8a573-220227215209.png",
            title: "Deal 83K rực rỡ",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-9d80390e-220120170703.jpeg",
            title : "Ngày của nàng, Freeship toàn sàn",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-62a8a573-220227215209.png",
            title: "Deal 83K rực rỡ",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-9d80390e-220120170703.jpeg",
            title : "Ngày của nàng, Freeship toàn sàn",
            position: "200 địa điểm",
            link: "#"
        },
        {
            img: "https://images.foody.vn/delivery/collection/s320x200/image-62a8a573-220227215209.png",
            title: "Deal 83K rực rỡ",
            position: "200 địa điểm",
            link: "#"
        }
    ]