-
    const foods =
    [
        {
            img: "https://images.foody.vn/res/g69/688652/prof/s280x175/foody-upload-api-foody-mobile-img_1948-191118115333.jpg",
            name: "Cháo Sườn Bomni",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g87/866466/prof/s280x175/foody-upload-api-foody-mobile-39d1e32427d2dc8c85c3-200331163812.jpg",
            name: "Bánh Cuốn Gạo Lứt & Chè Ngon", 
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g69/688652/prof/s280x175/foody-upload-api-foody-mobile-img_1948-191118115333.jpg",
            name: "Cháo Sườn Bomni",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g87/866466/prof/s280x175/foody-upload-api-foody-mobile-39d1e32427d2dc8c85c3-200331163812.jpg",
            name: "Bánh Cuốn Gạo Lứt & Chè Ngon", 
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g69/688652/prof/s280x175/foody-upload-api-foody-mobile-img_1948-191118115333.jpg",
            name: "Cháo Sườn Bomni",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g87/866466/prof/s280x175/foody-upload-api-foody-mobile-39d1e32427d2dc8c85c3-200331163812.jpg",
            name: "Bánh Cuốn Gạo Lứt & Chè Ngon", 
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g69/688652/prof/s280x175/foody-upload-api-foody-mobile-img_1948-191118115333.jpg",
            name: "Cháo Sườn Bomni",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g87/866466/prof/s280x175/foody-upload-api-foody-mobile-39d1e32427d2dc8c85c3-200331163812.jpg",
            name: "Bánh Cuốn Gạo Lứt & Chè Ngon",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        },
        {
            img: "https://images.foody.vn/res/g69/688652/prof/s280x175/foody-upload-api-foody-mobile-img_1948-191118115333.jpg",
            name: "Cháo Sườn Bomni",
            discount: " Tối thiểu 20k",
            price: " Giá 37k",
            position: "2 địa điểm",
            kind: " QUÁN ĂN"
        }
    ]