include ../mixins/mixins
footer.footer 
    div.container
        div.footer__wrapper.row.no-gutters
            +blockFooter("Công ty")
            +blockFooter("Ứng dụng ShopeeFood")
            +blockFooter("Công ty")
            div.block.col-lg-5.col-12.text-lg-end
                p.text-bold.block__title Địa chỉ công ty
                    ul.block__list
                        p Công Ty Cổ Phần Foody
                        p Lầu G, Tòa nhà Jabes 1,
                        p số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM
                        p Giấy CN ĐKDN số: 0311828036
                        p do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,
                        p sửa đổi lần thứ 23, ngày 10/12/2020
                        p Số điện thoại: 1900 2042
                        p Email: 
                            a(href="mailto:info@shopeefood.vn") info@shopeefood.vn       