div.nav
    ul.nav__list
        a(href="#")
            li.nav__item.nav__item-active Đồ ăn
        a(href="#")
            li.nav__item Thực phẩm
        li.nav__item Bia
        li.nav__item Hoa
        li.nav__item Siêu thị
        li.nav__item Thuốc
        li.nav__item Thú cưng